Source: dftpd
Section: user/network
Priority: extra
Maintainer: Bartosz Taudul <wolf@pld-linux.org>
Build-Depends: debhelper (>= 5), libqt4-maemo5-dev
Standards-Version: 3.7.2

Package: dftpd
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Dumb FTP Server
 Dump FTP Server
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgI
 fAhkiAAAAAlwSFlzAAAN1wAADdcBQiibeAAAABl0RVh0U29mdHdhcmUAd3d3
 Lmlua3NjYXBlLm9yZ5vuPBoAAAcTSURBVGje1VlLbBNXFL0zY3s+tpOSD4Sm
 kE3KqruiikpUKp+gSBCJLkoXtBJSu2ilKl1W2VBVrNoVqoRKF3yWEKGq3VRC
 QIhahGDVIlBWpRAlyCKJEzu25z/zeu8Em4l/bxwSWzxpMi/PM2/Offfcz7tP
 YIzB69xEeM1brN7gkSNHPvN9/xJqRxIEoTJer99gbMm27U9u3bo11REBsP1y
 5swZadu2beB5XsuTzs3N9Z09e/Yqdvs7JQCkUilYWFgAwzBanrSnp4feTx06
 dGgItTDbdgFEUXTy+by6uLgIlmW1PCm+C3v27PHu3bv3Lv7bfgGQw7aiKNDf
 38/VAHmx8FUe6+3t1XCOL06cOPH75OSk13YBCoUCrKysgGmadUGjka+7h90x
 9bdv3y709fV9kMlkzMOHDzcEEHYCoTEX5/365s2bFzYsgCzLBAJKpVJlnMCW
 r2rw9TRx7NixlKZpgT2RRpGaFdDhKzxGz+A3Y6dPn/55//79k3fu3ClsxIgt
 og6tPvG5DJo8UhlgIw1U3+utdj3Q4Xs8HqfLwX4aH9uYADRRd3d3ZeUJfDMN
 lPthu2gmQPgKC0CXJEl0+Y7jKBulkKnrekAf8kQExnR8MOxa2jTSQHW/muth
 YeppABJdYCtvD7//1RW/Gp8yMDB/+7sP3WYCGPTxri6cxLYDkFfvuiBKcRCr
 gLBaCw/GWPUTTKjvxSq/hwEAOG+NJUVB/A0tZ50H830mGpnMQ+zuaygAgjfI
 Bgg4BTMSZlXvhonP94FEhsjWPtJKExo+L4T+rhumIXX9UwCG5cIPl/96pymF
 ELhB4Ml7kB0YtoerL4Ack+D+v1noVAKrJCR48w0ZsYh5nhHrpIHV1dXABnIY
 yzRlJ7gB1zuXeTK0BhM1IAhspWk6jauvlzVAdhBT0tCdVMB1O4fedn0g9uqW
 Q/a0yBWAciDSwNLSEjzPFiCpJsDx/I6A93wGFnrBuCSCYbpkEJmmAqDRFl3X
 DTSQTqdBiGM0TcrgdkAAoqxpr303ERNBN23C8YynAQPdp0/50PLyMqwUTNBU
 GTXA2g6eHIj/wvDiKEDJcFzw4TlvS2lhFPSTyWSgBU/S0IgTKDlrK3gdwRN9
 yo0ohBpAI4AlngAmCuBRJCYNFEy/rTZAC6VblLqsXzCiULFkUUbGF4AoRJkk
 2YAryEih+JZrgFbdClKWl7QJt3hMgCLlM4yvAaIQy2azgQYMh0FSToC9RRpA
 jx0AL6GHIXfZqBGFSrotoaRLvEBGFPJxVxXYgLMSA1WJQbbkbHhlWSVLhWB1
 y3cC70eMjmtGbMV9z+ULgBRipmngriyHK78bVDnWdHXKK0lG5/qsApYxBptB
 vJgoBHOjJ5T+uXwqD5c4+wHM/5mqqiAnMRIXAfMgEYH5NYBpjCb2/K1NM2j1
 LYsyYrEYXpOGGqBIbJoWZHM6aLj6ZYB0kTGTR/L89rlVEsCwKQ+CfJQdmUk7
 MFVVQMI8KC3JAX0oIlI07kRGlKA0ghI5EJa5AiBvLUwlBNrM5AoWpHbKgWvj
 2QBfMFbTjboYEtpAybDphYVIGkAvJCiKCqKcAlWTgy1lmDItaYFt4J0XT7NK
 sQ0F0B1MRFkm0p4YNSCSHRQxIvYglUzUgBuR8xsxZsb5kXaCuuGA775M5Jrt
 yAIKJRIJfCKNMSCBGvBqjJa1vqz8x1n9IUkiCjk2i0ohFEAiDZRcEWNAAm0A
 DdgPf4C9oj00NIv628m4BPmS6QihRI4rgIzALdBgoFdD7knQpcUjI34V8aop
 SG48qUjweD4rCBJ7yBVgenrawtK4Pz2TkxwWg/8W9OYVh5qaAmsKN1pB4+VT
 uPDweHbBQdc+d//8pw+iuFF28ODIx7dnir8yQRan/nwQnRyRSi6sqUBrvwoM
 wy5WlgV0PSL22R/MEr+tEXOzD/mwEj2KKfiViYmJbjrhwdI6UJWP2qNHj3LY
 /+jGjRvTm/W9LTvkK1eiy/e2ng+00g4cOKAgyFNYzzy4hlccoHuxWAxqnFQc
 CMuFMeb70dHRRXTVi/jb+ampqQev8v2GFBobGxvED8S5JQ/P+xJ3bt/s2rVL
 KRds6WyBzsmqG22QKD0J3Jxpek+fPrUw1uzFObgHcZgZGHjg8bwVDdxFQNxT
 RgQrHz9+XMQzsaAET8EvqC43F5oEkM6dO6flcrm/UWvcrR4WGGbwtjeyAOPj
 4xpiU3kTX7x4kY5VYXBwEJ48eQLDw8N0PsYVYGZmJjgHOHnypDw0NMSlCpZ4
 tC2xAQIzOzsb1FBfeJrI79Y7f9s0I7527RoVUPt4EyAFYMeOHXUP6yLwGtCl
 Au38IrRnR48ejS7A/Py8SBU6fubJEsRnOhBsqViLxky5Fp4/mCg8Nxgh3dSW
 vFDUNjIyshsnv4DzvNdinCjgAv14/fr1n7bEjb4u7X86Poen1ESibwAAAABJ
 RU5ErkJggg==
